# Python virtual environment
venv/
include/
lib/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Egg metadata (safe to ignore if not needed for packaging)
watcloud.egg-info/

